    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        width: 100%;
        min-height: 100%;
        font: normal normal 16px/18px 'Open Sans', sans-serif;
        position:relative;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
    }
    
    nav {
        height: 50px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 2px #ebebeb;
    }

    .right-part {
        display: flex;
    }    
    
    .friends {       
        min-width: 190px;
        background: #06d6cf;
        display: flex;
    }
    
    .equipment {        
        min-width: 250px;
        background: #252525;
        display: flex;
    }
    
    .menu {        
        min-width: 50px;
        background: #252525;
        border-left: solid 2px #363636;
        display: flex;
    }
    

   .menu:hover  ul {
        display: block;
    }

    .fa {
        color: #ffffff;
        margin: auto;
    }
    
    .logo img {
        padding: 10px 0 10px 20px;
    }
    
    nav p {
        color: #ffffff;
        align-self: center;
        font-size: 14px;
        margin: auto;
    }
    
    section {
        display: flex;
        height: 100%;
    }
    
    .sec-1 {
        min-width: 52%;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;        
    }
    
    .sec-2 {
        min-width: 48%;
        border-left: solid 2px #ebebeb;
    }
    
    #mymap {
        width: 100%;
        height: 100%;
    }
    
    .wrapper {
        margin: 10px;
    }
    
    .top-price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .location p:first-child {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 20px;
    }

  .owner-location{
        display: flex;
  }

  .owner-location img {
        padding-bottom: 4px;
        margin-right: 6px;
  }
    
    .price {
        background: #000000;
        width: 180px;
        height: 80px;
        display: flex;
    }
    
    .price p {
        font-size: 24px;
        color: #ffffff;
        

    }
    .price-align {
        align-self: center;
        margin: auto;
        display: flex;
    }
    .price-align p:first-child {
        margin-right: 5px;
        font-size: 48px;
        align-self: center;
    }
    .currency {
        display: flex;
        flex-direction: column;        
    }

    .currency p:first-child {
        margin-bottom: 5px;
        font-size: 18px;        
    }

    .currency p:last-child {
        margin-top: 4px;
        border-top: solid 2px #ffffff;
        font-size: 18px;
    }
    
    .slider {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .slider img {
        min-height: 260px;
    }

    .image-1, .image-3 {
        position: relative;        
    }

    .control {
         position: absolute;         
         bottom: 0px;
         margin-bottom: 1.2%;         
         width: 20%;
         height: 98.9%;
         transition: 0.4s ease all;
         background: #000000;
         opacity: 0.2;
         text-align: center;
         display: flex;
         
    }

    .image-1 .left {
        left: 0px;
    }

    .image-3 .right {
        right: 0px;
    }

    .slider i {
        align-self: center;
    }

    .control:hover {
        opacity: 0.5;
    }

    .advanced {
        display: flex;
    }

    .characteristics {
        display: flex;
        flex-direction: column;
        min-width: 67%;
        margin-bottom: 75px;
    }

    .characteristics > p{
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 16px;
        color: #929292;
    }

    .specifications {
        display: flex;
        border-top: solid 2px #f9f9f9;
    }

    .specifications p{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .specifications span{
        color: #06d6cf;
    }

    .spec-col-1{
        margin-right: 70px;
    }   

    .description {
        border-top: solid 2px #f9f9f9;
    }

    .description p {
        margin-top: 15px;
    }

    .set {
        border-top: solid 2px #f9f9f9;
        display: flex;
        margin-left: -30px;
    }

    .circle {
        margin-top: 15px;
        width: 60px;
        height: 60px;
        border: 1px solid #000000;
        border-radius: 50%;        
    }

    .helment {
        background: url(".././images/helment_white.png") no-repeat 50% 50%;
    }
    .tool {
        background: url(".././images/tool_white.png") no-repeat 50% 50%;
    }
    .flashlight {
        background: url(".././images/flashlight.png") no-repeat 50% 50%;
    }
    .lock {
        background: url(".././images/lock_white.png") no-repeat 50% 50%;
    }

    .set div {
        margin-left: 15px;
        margin-right: 15px;
    }

    .set div p {
        text-align: center;
        margin-top: 5px;
    }

    .conditions {
        display: flex;
        margin-top: 25px;        
    }

    .main-conditions {
        min-width: 50%; 
       
    }

    .special-conditions {
        min-width: 48%;
        margin-left: 15px;
    }

    .first-col {
        border-top: solid 2px #f9f9f9;
        margin-top: 15px;
        display: flex;
    }

    .conditions  p {
        font-size: 16px;
        color: #929292;
    }

    .conditions li {
        margin: 5px 20px;
        list-style-type: square;
    }

    .second-col {
        border-top: solid 2px #f9f9f9;
        margin-top: 15px;
    }

    .owner {
        min-width: 33%;
        display: flex;
        flex-direction: column;        
    }

    .owner > p {
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 16px;
        color: #929292;
        text-align: center;
    }
    .photo {
        width: 175px;
        height: 175px;        
        border-radius: 50%;
        align-self: center;
        background: url(".././images/owner_avatar.png") no-repeat 50% 50%;
    }

    .owner-info {
        align-self: center;
        margin-top: 10px;
    }

    .owner-info p:first-child {
        font-size: 16px;        
    }

    .owner-info p:last-child {
        font-size: 14px;
        color: #929292;
        text-align: center;        
    }

    .verification {
        margin-top: 20px;
        align-self: center;
        text-align: center;
    }

    .social {
        display: flex;
    }

    .social .soc {
        margin: 5px;
        width: 20px;
        height: 20px;
        background-color: #252525;
        display: flex;
        justify-content: center;
    }

    .rating {
        margin-top:15px;
    }

    .rating p:last-child {
        margin-top: 10px;
        font-size: 30px;
    }

    footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 75px;
        background-color: #252525;
        display: flex;
        justify-content: space-between;
    }

    .foot-left {
        display: flex;
        margin: auto 0;
        justify-content: center;
        color: #ffffff;
    }

    .foot-left p{
        margin-left: 15px;
    }

    .foot-right {
        display: flex;
        flex-direction: column;
        
    }

    .footer-soc {
        text-align: right;
    }

    .footer-soc .fa, .rights {
        margin-right: 15px;
        margin-top: 20px;
    }


    .rights p{
        font-size: 12px;
        color: #929292;
    }
